<app-toolbar />

<section class="body">
  <section class="container">
    <header class="header">
      <h3 class="text-center">Registrar Nueva Cuenta</h3>
    </header>

    <main class="row -g-3 justify-content-center">
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-7 col-sm-10 col-11">
        <form autocomplete="off" enctype="multipart/form-data">

          <!-- Empresa -->
          <section class="empresa">
            <section class="header">
              <div class="d-flex justify-content-between align-self-center">
                <h4>Empresa</h4>
                <span class="align-self-center">
                  <i class="bi bi-caret-down-fill" (click)="desplegue($event)" data-bs-toggle="collapse" href="#empresa"
                    aria-expanded="true" aria-controls="empresa"></i>
                </span>
              </div>
            </section>
            <hr />
            <section class="content collapse show" id="empresa">

              <div class="text-center">

                <div class="d-block position-relative">

                  <div class="position-absolute top-0 end-0">
                    <div class="text-end reload me-3">
                      <i class="bi bi-arrow-clockwise" (click)=" reloadSeleccion()"></i>
                    </div>
                  </div>

                  <img class="rounded-circle border border-secondary" [ngSrc]="logoDefault" alt="Logo" width="150"
                    height="150" id="imagen_seleccionada" priority>
                </div>


                <button class="contenedor-btn-file bordeado my-3" type="button">
                  <i class="bi bi-cloud-arrow-up-fill"></i>
                  Seleccionar Archivo
                  <label for="logo"></label>
                  <input type="hidden" id="logobase64" name="logobase64" value="{{logoNew}}" />
                  <input type="file" id="logo" name="logo" (change)="LeerArchivo($event)">
                </button>

              </div>

              <div class="mb-3">
                <label for="" class="form-label mb-1">Nombre de la Empresa</label>
                <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
              </div>

              <div class="row g-2 justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Dirección</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Correo Electrónico</label>
                    <input type="email" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label mb-1">Descripción</label>
                <textarea class="form-control form-control-sm shadow-none" placeholder=""></textarea>
              </div>

              <div class="row g-2 justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Telefono</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Ruc</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
              </div>

            </section>
          </section>

          <!-- Propietario -->
          <section class="propietario">
            <section class="header">
              <div class="d-flex justify-content-between align-self-center">
                <h4>Propietario</h4>
                <span class="align-self-center">
                  <i class="bi bi-caret-up-fill" (click)="desplegue($event)" data-bs-toggle="collapse"
                    href="#propietario" aria-expanded="false" aria-controls="propietario"></i>
                </span>
              </div>
            </section>
            <hr />

            <section class="content collapse" id="propietario">
              <div class="row g-1 justify-content-start">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Nombre</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Apellido</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Correo Electrónico</label>
                    <input type="email" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Contraseña</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Sexo</label>
                    <select name="" id="" class="form-select form-select-sm shadow-none">
                      <option selected value="" disabled>.:: Selecciona el Sexo ::.</option>
                      <option value="H">Hombre</option>
                      <option value="M">Mujer</option>
                    </select>
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">Telefono y/o Celular</label>
                    <input type="text" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label for="" class="form-label mb-1">N° de Documento</label>
                    <input type="email" name="" id="" class="form-control form-control-sm shadow-none" placeholder="" />
                  </div>
                </div>

              </div>
            </section>
          </section>

          <!-- Redes Sociales -->
          <section class="redes-sociales">
            <section class="header">
              <div class="d-flex justify-content-between align-self-center">
                <h4>Redes Sociales</h4>
                <span (click)="addRedesSociales()" class="align-self-center">
                  <i class="bi bi-plus-lg"></i>
                </span>
              </div>
            </section>

            <hr />

            <section class="content">

              <div class="add-lessons-form" [formGroup]="form">

                <div formArrayName="sociales">
                  @for (redes of redesSociales.controls; track redes; let i = $index) {

                  <div [formGroupName]="i">
                    <div class="d-flex justify-content-between mt-2">
                      <div class="d-flex">
                        <div class="form-check me-3 align-self-center">
                          <input class="form-check-input shadow-none" type="radio" formControlName="social" value="1"
                            id="social{{i}}">
                          <i class="bi bi-instagram"></i>
                        </div>

                        <div class="form-check me-3 align-self-center">
                          <input class="form-check-input shadow-none" type="radio" formControlName="social" value="2"
                            id="social{{i}}">
                          <i class="bi bi-linkedin"></i>
                        </div>


                        <div class="form-check me-3 align-self-center">
                          <input class="form-check-input shadow-none" type="radio" formControlName="social" value="3"
                            id="social{{i}}">
                          <i class="bi bi-facebook"></i>
                        </div>
                      </div>

                      <span (click)="deleteRedesSociales(i)" class="align-self-center">
                        <i class="bi bi-trash3"></i>
                      </span>

                    </div>

                    <div class="w-100">
                      <input type="text" class="form-control form-control-sm shadow-none"
                        placeholder="Ingrese la dirección de la red social." name="descripcion" id="descripcion"
                        formControlName="descripcion" />
                    </div>
                  </div>

                  }
                </div>

              </div>
            </section>
          </section>

          <footer class="text-end">
            <button type="button" class="btn registro-empresa" (click)="guardarEmpresa()"><small><i
                  class="bi bi-floppy-fill"></i> Crear
                Empresa</small></button>
          </footer>
        </form>

      </div>
    </main>

    <footer>

    </footer>

  </section>
</section>
