<div class="contenedor">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Inicio de Sesión</h3>
      <hr/>
      <div class="row g-1 justify-content-start">
        <div class="col-12">
          <div class="form-floating mb-3">
            <input type="email" class="form-control shadow-none" id="email" placeholder="name@example.com">
            <label for="email">Correo Electrónico</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating mb-3">
            <input type="password" class="form-control shadow-none" id="password" placeholder="password">
            <label for="password">Contraseña</label>
          </div>


        </div>
      </div>

      <div class="buttom">
        <button mat-flat-button color="primary"><mat-icon>login</mat-icon> Ingresar</button>
      </div>

    </div>
  </div>
</div>
