<app-toolbar />
<main>
  <section class="row g-3 m-0 justify-content-center">
    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
      <app-cards Icono="bi bi-cart-fill" Titulo="Productos" Ruta="login" Cantidad="233" />
    </div>

    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
      <app-cards Icono="bi bi-person-fill" Titulo="Personal" Ruta="register" Cantidad="598" />
    </div>
  </section>

  <section class="graficas">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <app-graphics ids="lineal" types="line" [datas]="datas" [labels]="labels" titles="Mejores Ventas" />
      </div>
      <div class="col-lg-4">
        <app-graphics ids="v2" types="bar" [datas]="datas" [labels]="labels" titles="Mejores Ventas" />
      </div>
    </div>
  </section>
</main>
